.open-menu{
    transition: all .5s;
    animation: animationMenu 1s ease-in-out forwards;
}

@keyframes animationMenu {
    0%{
        left: -100%;
        opacity: 0;
    }
    100%{
        left: 0;
    }

  }

  .open-menu ul li a{
    animation: openNavbarAnimated 1s ease-in-out forwards ;
    animation-delay: .5s;
}

@keyframes openNavbarAnimated {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }

  }

.section-info-container{
    animation: startInfoAboutMe 1s ease-in-out forwards;
}

@keyframes startInfoAboutMe {
    0%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0);
    }

  }