@import url("./vars.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--black-gradient);
}

main {
  width: 100vw;
  max-width: 144rem;
  margin: 0 auto;
  box-shadow: 0 0 10px var(--light-blue);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
/* Componente - botones */

.button {
    position: relative;
    width: 100%;
    min-width: 26rem;
    max-width: 30rem;
    height: 6.2rem;
    overflow: hidden;
    /* border-radius: .6rem; */
    transition: all 0.8s ease;
    animation: alert-button 2s linear infinite both;
}

@keyframes alert-button {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }

.button:hover {
    box-shadow: 0 0 10px white ;
    transition: all .4s;
}
  

.button span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    background: var(--light-gradient);
    transition: all 1s;
}

.button--action {
    position: absolute;
    top: .1rem;
    right: .1rem;
    width: calc(100% - 0.2rem);
    height: calc(100% - 0.2rem);
    padding: 0;
    font-weight: bold;
    letter-spacing: .18rem;
    text-transform: uppercase;
    border-radius: .6rem;
    color: var(--light-gray);
    background: var(--black-gradient);
    cursor: pointer;

}


/* Componente - input */

input {
    height: 3.2rem;
    padding-left: .8rem;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--white);
    background: transparent;
    border: none;
    outline: none;
    caret-color: var(--light-blue);
}

input::placeholder {
    padding-left: .8rem;
    color: var(--light-gray);
    opacity: .8;
    transition: all .7s;
}

input:focus::placeholder {
    transform: translateX(-100%);
    transition: all .5s;
}