    /* 
1. Posicionamiento
2. Box model
3. Tipografía
4. Visuales
5. Otros */
    
     :root {
        --black: #111111;
        --dark-gray: #5E5E5E;
        --light-gray: #9E9E9E;
        --white: #FAFAFA;
        --dark-blue: #0A0B23;
        --light-blue: #00FFFF;
        --purple: #A319FF;
        --dark-gradient: linear-gradient(90deg, #00ffff, #0a0b23);
        --light-gradient: linear-gradient(90deg, #00ffff, #a319ff);
        --white-gradient: linear-gradient(90deg, #fafafa, #9e9e9e);
        --black-gradient: linear-gradient(90deg, #0a0b23, #fafafa);
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: 62.5%;
        font-family: 'Space Grotesk', sans-serif;
    }
    
    header {
        width: 100%;
        max-width: 120rem;
        height: 6rem;
        margin: 0 auto;
        padding: 0 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header--button-menu {
        height: 2.6rem;
        width: 4.2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .header--button-menu p {
        font-size: 1.3rem;
        color: var(--light-gray);
        opacity: 0;
        transition: all .6s;
    }
    
    .header--button-menu:hover p {
        opacity: 1;
        transition: all .6s;
        transition-delay: .2s;
    }
    
    .header--button-menu span {
        height: 0.2rem;
        position: absolute;
        background: var(--light-gray);
        border-radius: 0.5rem;
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(2) {
        top: 0;
        left: 0;
        width: 3rem;
    }
    
    .header--button-menu:hover span:nth-child(2) {
        /* transform-origin: left bottom; */
        transform: scaleX(1.3);
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(3) {
        top: 1.2rem;
        left: 1.8rem;
        width: 2.0rem;
    }
    
    .header--button-menu:hover span:nth-child(3) {
        transform: translateX(1.8rem) scaleX(0.1) scaleY(6);
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(4) {
        bottom: 0;
        left: 0;
        width: 3.0rem;
    }
    
    .header--button-menu:hover span:nth-child(4) {
        transform: translateX(1.0rem);
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(5) {
        top: 1.2rem;
        left: 0.9rem;
        width: 0.5rem;
    }
    
    .header--button-menu:hover span:nth-child(5) {
        transform: translateX(-1.6rem) scaleX(0.7);
        transition: all .5s;
    }
    
    header figure {
        width: 12rem;
        height: 6rem;
        padding: .8rem;
        display: flex;
        justify-content: end;
    }
    
    header figure img {
        height: 100%;
    }