    /* 
1. Posicionamiento
2. Box model
3. Tipografía
4. Visuales
5. Otros */
    
    @import url("vars.css");
    header {
        width: 100%;
        height: 6rem;
        margin: 0 auto;
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header--button-menu {
        height: 2.6rem;
        width: 4.2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .header--button-menu p {
        font-size: 1.3rem;
        color: var(--light-gray);
        opacity: 0;
        transition: all .6s;
    }
    
    .header--button-menu:hover p {
        opacity: 1;
        transition: all .6s;
        transition-delay: .2s;
    }
    
    .header--button-menu span {
        height: 0.2rem;
        position: absolute;
        background: var(--white);
        border-radius: 0.5rem;
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(2) {
        top: 0;
        left: 0;
        width: 3rem;
    }
    
    .header--button-menu:hover span:nth-child(2) {
        /* transform-origin: left bottom; */
        transform: scaleX(1.3);
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(3) {
        top: 1.2rem;
        left: 1.8rem;
        width: 2.0rem;
    }
    
    .header--button-menu:hover span:nth-child(3) {
        transform: translateX(1.8rem) scaleX(0.1) scaleY(6);
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(4) {
        bottom: 0;
        left: 0;
        width: 3.0rem;
    }
    
    .header--button-menu:hover span:nth-child(4) {
        transform: translateX(1.0rem);
        transition: all .5s;
    }
    
    .header--button-menu span:nth-child(5) {
        top: 1.2rem;
        left: 0.9rem;
        width: 0.5rem;
    }
    
    .header--button-menu:hover span:nth-child(5) {
        transform: translateX(-1.6rem) scaleX(0.7);
        transition: all .5s;
    }
    
    header figure {
        width: 12rem;
        height: 6rem;
        padding: .8rem;
        display: flex;
        justify-content: end;
    }
    
    header figure img {
        height: 100%;
    }
    
    main {
        width: 100%;
    }
    
    .main--home-container {
        width: 100%;
        max-width: 120rem;
        height: 100vh;
        margin: 0 auto;
        padding: 26rem 4rem .8rem 4rem;
    }
    
    .main--home-container h1 {
        position: relative;
        font-size: 4.2rem;
        color: var(--white);
    }
    
    .main--home-container h1::after {
        content: "";
        position: absolute;
        bottom: 1.2rem;
        left: 26rem;
        width: 1.8rem;
        height: .2rem;
        background: var(--light-blue);
        animation: title-cursor 1s infinite;
    }
    
    @keyframes title-cursor {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    
    .main--home-container p {
        padding-left: .8rem;
        font-size: 1.6rem;
        font-weight: 100;
        color: var(--light-gray);
    }
    
    .main--about-me {
        width: 100%;
        height: auto;
        max-width: 120rem;
        margin: 0 auto;
        padding: 2.6rem 0;
        background-image: url('../assets/images/background-about-me-shape.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    
    .section-info-container {
        width: 36rem;
        height: auto;
        margin: 0 auto;
        padding: 1.8rem;
        background: var(--white-gradient);
        opacity: 0.9;
        border-radius: .4rem;
    }
    
    .section-info-container .title {
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }
    
    .section-info-container .subtitle-container {
        margin: 1.2rem 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        border-bottom: .1rem solid var(--light-blue);
    }
    
    .section-info-container .subtitle-container p {
        font-size: 2rem;
        font-weight: bolder;
    }
    
    .section-info-container>p {
        margin: 2.6rem 0;
        font-size: 2rem;
    }
    
    .section-info-container ul {
        margin-top: 2.6rem;
        list-style: none;
        font-size: 1.8rem;
    }
    
    .projects-container {
        width: 100%;
        height: auto;
        padding: 2.6rem 0;
        background: var(--white);
    }
    
    .projects-container__title {
        width: 90%;
        height: auto;
        margin: 0 auto 3.2rem;
        font-size: 2.8rem;
    }
    
    .projects-container__slider {
        width: 100%;
        height: auto;
    }
    
    .slider__card {
        position: relative;
        width: 65%;
        max-width: 30rem;
        height: 32rem;
        margin: 1.8rem auto;
        display: block;
        border: 2px solid var(--light-blue);
    }
    /* .slider__card::after {
        content: "";
        position: absolute;
        top: -1rem;
        right: -3rem;
        transform: rotate(45deg);
        width: 8rem;
        height: 4rem;
        background: var(--white);
    } */
    
    .slider__card--data {
        position: absolute;
        top: calc(50% - 2.5rem);
        left: -4rem;
        width: 100%;
        height: auto;
        color: var(--dark-blue);
    }
    
    .data--name {
        font-size: 1.8rem;
    }
    
    .data--detail {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
    }
    
    .data--detail p {
        font-weight: bold;
    }
    
    .data--detail p span {
        font-weight: 200;
    }