    /* 
1. Posicionamiento
2. Box model
3. Tipografía
4. Visuales
5. Otros */
    
    @import url("./global.css");
    @import url("./vars.css");
    @import url("./animation.css");
    @import url("./button-menu.css");

    header {
        z-index: 5000;
        position: absolute;
        width: 100%;
        height: 6rem;
        margin: 0 auto;
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    
    header .header--logo {
        width: 12rem;
        height: 6rem;
        padding: .8rem;
        display: flex;
        justify-content: end;
    }
    
    header .header--logo img {
        height: 100%;
    }

    .menu{
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 12rem 4.6rem;
        background: var(--background-menu);
        
    }

    .close-menu{
        transform: translateX(-100%);
        transition: all .8s;
    }

    .menu--navbar{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 4.2rem;
        font-weight: bold;
    }

    .menu--navbar li{
        width: 100%;
        height: 5.4rem;
        position: relative;
        overflow: hidden;

    }

    .menu--navbar li:nth-child(1) span,
    .menu--navbar li:nth-child(3) span{
        position: absolute;
        bottom: 0;
        left: 0.8rem;
        width: 80%;
        height: 1px;
        background: var(--white-gradient);
    }

    .menu--navbar li:nth-child(2) span,
    .menu--navbar li:nth-child(4) span{
        position: absolute;
        bottom: 0;
        right: 0.8rem;
        width: 80%;
        height: 1px;
        background: var(--white-gradient);
    }

    .menu--navbar li a{
        display: block;
        transform: translateY(50px);
        padding-left: 2.6rem;
        color: var(--white);
    }

    
    main {
        width: 100%;
    }
    
    .main--home-container {
        width: 100%;
        max-width: 120rem;
        height: 100vh;
        margin: 0 auto;
        padding: 26rem 4rem .8rem 4rem;
    }
    
    .main--home-container h1 {
        position: relative;
        font-size: 4.2rem;
        color: var(--white);
    }
    
    .main--home-container h1::after {
        content: "";
        position: absolute;
        bottom: 1.2rem;
        left: 26rem;
        width: 1.8rem;
        height: .2rem;
        background: var(--light-blue);
        animation: title-cursor 1s infinite;
    }
    
    @keyframes title-cursor {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    
    .main--home-container p {
        padding-left: .8rem;
        font-size: 1.6rem;
        font-weight: 100;
        color: var(--light-gray);
    }
    
    .main--about-me {
        width: 100%;
        height: auto;
        max-width: 120rem;
        margin: 0 auto;
        padding: 2.6rem 0;
        background-image: url("../assets/images/background-about-me-shape.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    
    .section-info-container {
        width: 36rem;
        height: auto;
        margin: 0 auto;
        padding: 1.8rem;
        background: var(--white-gradient);
        opacity: 0.9;
        border-radius: .4rem;
    }
    
    .section-info-container .title {
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }
    
    .section-info-container .subtitle-container {
        margin: 1.2rem 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        border-bottom: .1rem solid var(--light-blue);
    }
    
    .section-info-container .subtitle-container p {
        font-size: 2rem;
        font-weight: bolder;
    }
    
    .section-info-container>p {
        margin: 2.6rem 0;
        font-size: 2rem;
    }
    
    .section-info-container ul {
        margin-top: 2.6rem;
        list-style: none;
        font-size: 1.8rem;
    }
    
    .projects-container {
        width: 100%;
        height: auto;
        padding: 2.6rem 0;
        background: var(--white);
    }
    
    .projects-container__title {
        width: 90%;
        height: auto;
        margin: 0 auto 3.2rem;
        font-size: 2.8rem;
    }

    .projects-container__slider{
        width: 100%;
        height: 36rem;
        display: flex;
        overflow-x: scroll;
        overscroll-behavior: contain;
        scroll-snap-type: x proximity;
    }

    .slider__card {
        position: relative;
        scroll-snap-align: center;
        width: 65%;
        min-width: 28rem;
        max-width: 30rem;
        height: auto;
        margin: 1.8rem 2.6rem;
        display: block;
        background-image: url("../assets/images/coming-soon-dummie.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .slider__card--data {
        visibility: hidden;
        position: absolute;
        top: calc(50% - 2.5rem);
        left: -4rem;
        width: 100%;
        height: auto;
        color: var(--dark-blue);
    }
    
    .data--name {
        font-size: 1.8rem;
    }
    
    .data--detail {
        display: flex;
        font-size: 1.3rem;
    }
    
    .data--detail p {
        font-weight: bold;
        flex-grow: 1;
    }
    
    .data--detail p span {
        font-weight: 200;
    }
    
    .contact-container {
        width: 100%;
        height: auto;
        padding-bottom: 4.8rem;
    }
    
    .contact-container__greeting {
        width: 80%;
        max-width: 60rem;
        height: auto;
        margin: 5.2rem auto;
    }
    
    .greeting--text {
        width: 100%;
        height: auto;
        margin-bottom: 1.8rem;
        font-size: 1.8rem;
        font-weight: 100;
        color: var(--light-gray);
    }
    
    .greeting--social-media {
        width: 100%;
        height: 2.6rem;
        display: flex;
        justify-content: end;
        column-gap: 1.8rem;
    }
    
    .greeting--social-media li {
        width: 2.6rem;
        height: 100%;
    }
    
    .greeting--social-media li a {
        display: inline-block;
        width: 2.6rem;
        height: 2.6rem;
        opacity: .6;
        transition: all .6s;
    }
    
    .greeting--social-media li a:hover {
        opacity: 1;
        transition: opacity .4s;
    }
    
    .greeting--social-media img {
        width: 100%;
    }
    
    .contact-container__form {
        width: 100%;
        max-width: 60rem;
        height: auto;
        margin: 0 auto;
        padding: 4.8rem 2.6rem;
        display: flex;
        flex-direction: column;
    }
    
    .form--name {
        width: 100%;
        margin-bottom: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: .8rem;
    }
    
    .form--name span:nth-child(1) {
        font-size: 1.8rem;
        color: var(--light-gray);
    }
    
    .form--name span:nth-child(2) {
        font-size: 1.8rem;
        color: var(--light-gray);
    }
    
    .form--name input {
        flex-grow: 1;
        border-bottom: 1px solid var(--light-blue);
    }
    
    .form--message {
        width: 100%;
        min-width: 32rem;
        max-width: 60rem;
        height: 12rem;
        max-height: 60rem;
        margin: 2.6rem auto;
        padding-left: .8rem;
        padding-top: .8rem;
        font-size: 1.8rem;
        font-weight: 100;
        font-family: 'Space Grotesk', sans-serif;
        color: var(--dark-blue);
        border: none;
        outline: none;
    }
    
    textarea::placeholder {
        padding-left: .8rem;
        color: var(--light-gray);
        transition: all .7s;
    }
    
    textarea:focus::placeholder {
        transform: translateX(-100%);
        transition: all .5s;
    }
    
    .form--email {
        width: 100%;
        margin: 2.6rem auto;
        display: block;
    }
    
    .form--email span {
        font-size: 1.8rem;
        color: var(--light-gray);
    }
    
    .form--email input {
        width: 100%;
        border-bottom: 1px solid var(--light-blue);
    }
    
    .form--button-send {
        margin: 0 auto;
    }