:root {
    --black: #111111;
    --dark-gray: #5E5E5E;
    --light-gray: #93aac2;
    --white: #FAFAFA;
    --dark-blue: #0A0B23;
    --light-blue: #00f0ff;
    --purple: #A319FF;
    --dark-gradient: linear-gradient(90deg, #00f0ff, #0a0b23);
    --light-gradient: linear-gradient(90deg, #00f0ff, #a319ff);
    --white-gradient: linear-gradient(147deg, #fafafa 0%, #93aac2 100%);
    --black-gradient: linear-gradient(135deg, #0a0b23 0%, #111111 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background: var(--black-gradient);
}

input,
textarea {
    height: 3.2rem;
    padding-left: .8rem;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--white);
    background: transparent;
    border: none;
    outline: none;
    caret-color: var(--light-blue);
    transition: all .5s;
}

input::placeholder {
    padding-left: .8rem;
    color: var(--light-gray);
    opacity: .2;
    transition: all .7s;
}

input:focus::placeholder {
    transform: translateX(-100%);
    transition: all .5s;
}

textarea::placeholder {
    padding-left: .8rem;
    color: var(--light-gray);
    opacity: .2;
    transition: all .7s;
}

textarea:focus::placeholder {
    transform: translateX(-100%);
    transition: all .5s;
}


/* .button {
    width: 100%;
    max-width: 30rem;
    height: 6.2rem;
    font-size: 2.6rem;
    text-transform: uppercase;
    color: var(--light-blue);
    border: 2px solid var(--light-blue);
} */

.button {
    width: 30rem;
    height: 5.6rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--light-blue);
    background-image: url("../assets/icons/button-c31-cyan.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}


/* .button:hover {
    background-image: none;
    transition: all .5s;
    box-shadow: 30px 0 30px var(--light-gray) offset;
    border-radius: 6px;
} */